@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Utilities*/
/* Variables */
/* @include flex ($direction, $wrap,$justify,$align,$gap); */
/* @include grid ($column,$row); */
/* @include gridArea ($columnstart,$columnend,$rowstart,$rowend); */
/*Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.degrade {
  background-image: linear-gradient(to right, #f0716a, #750904);
}

h1 {
  font-family: "Anton SC", sans-serif;
  text-shadow: 5px 5px 10px gray;
}

p {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  color: white;
  text-align: justify;
}

.introduccion {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: none;
  height: auto;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.introduccion div {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: none;
  padding: 1rem 1rem;
  width: 90%;
  background-color: black;
  border-radius: 80px;
  height: auto;
}
.introduccion div:hover {
  transform: scale(1.1);
  background-image: radial-gradient(circle, #000000, #1f080d, #320c13, #470a14, #5b0811, #6d1216, #801c1a, #93271e, #aa3a30, #c14c43, #d85e56, #f0716a);
  transition: all 1500ms cubic-bezier(0.19, 0.57, 0.66, 0.8);
}
.introduccion div p {
  text-align: center;
  width: 70%;
  height: auto;
  text-indent: 0.625rem;
  margin: 0;
}

/*Layout*/
header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: none;
  gap: none;
  background-image: url(../assets/img/Head.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 25rem;
}

.colorf {
  background-color: rgb(111, 106, 106);
}

body {
  background-color: #750904;
  height: auto;
}

.vistaPrevia {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: none;
  gap: none;
  height: auto;
}
.vistaPrevia div {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  gap: none;
  margin: 0.625rem;
  height: 100%;
}

.biografia {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: none;
  gap: none;
}
.biografia div {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: center;
  align-items: center;
  gap: none;
  width: 18.75rem;
  height: 300px;
  margin: 0.3125rem;
}
.biografia div p {
  font-size: small;
}

.formulario1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Kanit", sans-serif;
  padding: 50px 55px;
}
.formulario1 form {
  padding: 1.875rem 1.875rem;
  box-shadow: 0 0 20px rgba(17, 17, 17, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 37.5rem;
}
.formulario1 h3 {
  color: black;
  font-weight: 600;
  font-size: 2.1875rem;
}
.formulario1 label {
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
}
.formulario1 input, .formulario1 textarea {
  padding: 0.625rem 0.625rem;
  border-radius: 1.875rem;
  margin-bottom: 0.625rem;
  background-color: #E57A7A;
  border: 2px solid to right, #f0716a, #750904;
  color: black;
  outline: none;
}
.formulario1 input::placeholder, .formulario1 textarea::placeholder {
  color: rgb(33, 29, 29);
}
.formulario1 .formula {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.625rem;
}
.formulario1 .boton {
  font-size: 1rem;
  color: rgb(2, 2, 2);
  border: 0;
  border-radius: 1.5625rem;
  background-color: white;
  box-shadow: 0 0 20 px #bf2471;
  cursor: pointer;
}
.formulario1 .boton:hover {
  background-color: #E57A7A;
}

.galeria {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.galeria p {
  padding-top: 1.25rem;
  width: 900px;
}
.galeria h3 {
  color: white;
  padding-bottom: 10px;
}
.galeria div {
  display: flex;
  flex-direction: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.galeria div img {
  padding-top: 10px;
  height: 12.5rem;
  width: 18.75rem;
  object-fit: cover;
}

.grid {
  display: grid;
  grid-template-columns: 9.375rem 1fr 1 fr 1 fr;
  grid-template-rows: repeat 4, 1fr;
  width: 100%;
  height: 37.5rem;
}
.grid p {
  height: 100%;
  width: 100%;
}
.grid img {
  object-fit: contain;
}
.grid .ache2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  padding-top: 9.375rem;
  justify-self: right;
  font-size: larger;
}

.parrafito2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-top: 12.5rem;
  width: 200px;
  justify-self: right;
}

.imguno2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  align-self: center;
  padding-left: 6.25rem;
}

.imgdos2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  padding-left: 23.75rem;
}

.imgtres2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  align-self: end;
  padding-left: 23.75rem;
  padding-bottom: 2.5rem;
}

.grid {
  display: grid;
  grid-template-columns: 9.375rem 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  height: 37.5rem;
}
.grid p {
  height: 100%;
  width: 100%;
}
.grid img {
  object-fit: contain;
}
.grid .ache2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  padding-top: 9.375rem;
  justify-self: right;
  font-size: larger;
}

.parrafito {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  width: 200px;
  justify-self: right;
}

.imguno {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  padding-left: 6.25rem;
}

.imgdos {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: center;
  padding-left: 21.25rem;
}

.imgtres {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
  align-self: end;
  padding-left: 21.25rem;
  padding-bottom: 2.5rem;
}

footer {
  background-color: #D9D9D9;
}
footer p {
  color: black;
}

.pieDepagina {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.pieDepagina div {
  width: 21.875rem;
  padding: 0.625rem;
}

.img1 {
  display: flex;
  width: 2.25rem;
  height: 2.25rem;
  justify-content: right;
  margin-right: 0.625rem;
}

/* Components*/
/* Css para bootstrap */
.bs-body {
  background-image: url(./assets/img/parque_calistenia.png);
}

.imgnav {
  width: 50px;
  height: 50px;
}

.NavPrincipal {
  font-weight: bold;
  border-radius: 10px 10px 10px 10px;
  background-color: #a3231c;
  padding-left: 0.625rem;
}

.bs-main {
  background-image: linear-gradient(to right, #f0716a, #750904);
  padding-top: 30px;
  padding-bottom: 6.25rem;
}

.bs-header {
  background-color: #E57A7A;
  padding: 10px 10px;
}

.subTitulo {
  font-size: xx-large;
  font-weight: bolder;
  color: aliceblue;
  text-align: center;
  text-shadow: 5px 5px 5px rgb(163, 144, 144);
  padding: 2.5rem 2.5rem;
}

.parrafocard {
  color: rgb(70, 74, 77);
}

/*Media queary*/
/* Page FreeStyle */
/* Pantallas de 1024px a 1300px */
@media (min-width: 1025px) and (max-width: 1300px) {
  .grid .imguno {
    padding-left: 1.25rem;
    order: 3;
  }
  .grid .imgdos {
    padding-left: 15.625rem;
    order: 1;
  }
  .grid .imgtres {
    padding-left: 15.625rem;
    order: 2;
  }
}
/* Pantallas de 1024px */
@media (max-width: 1024px) {
  /* Main */
  .grid .ache2 {
    justify-self: left;
  }
  .grid .parrafito {
    justify-self: left;
  }
  .grid .imguno {
    padding-left: 0;
    order: 3;
  }
  .grid .imgdos {
    padding-left: 15.625rem;
    order: 1;
  }
  .grid .imgtres {
    padding-left: 15.625rem;
    order: 2;
  }
}
/* Pantallas de 830px a 960px */
/* Page PowerFree */
@media (min-width: 830px) and (max-width: 960px) {
  /* main */
  .grid .ache2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-top: 9.375rem;
    justify-self: center;
    font-size: larger;
  }
  .grid .parrafito {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
  }
  .grid .imguno {
    padding-left: 0rem;
    order: 3;
  }
  .grid .imgdos {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-bottom: 5.625rem;
    padding-left: 8.75rem;
    order: 1;
  }
  .grid .imgtres {
    padding-left: 10.625rem;
    order: 2;
  }
}
/* Pantallas de 769px a 830px */
/* Page FreeStyle */
@media (min-width: 769px) and (max-width: 830px) {
  /* Main */
  .grid {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-rows: repeat(3, 1fr);
  }
  .grid .imguno {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 0;
    order: 3;
    justify-self: center;
  }
  .grid .imgdos {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 0rem;
    padding-left: 0rem;
    order: 1;
    justify-self: center;
  }
  .grid .imgtres {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 0rem;
    padding-bottom: 0rem;
    order: 2;
    justify-self: center;
  }
}
/* Pantallas de 768 px */
/* Page FreeStyle */
@media (max-width: 768px) {
  /* main */
  .grid .ache2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .grid {
    display: grid;
    grid-template-columns: 9.375rem 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: auto;
  }
  .grid .imguno {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 0;
    order: 3;
    justify-self: center;
  }
  .grid .imgdos {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 0rem;
    padding-left: 0rem;
    order: 1;
    justify-self: center;
  }
  .grid .imgtres {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 0rem;
    padding-bottom: 0rem;
    order: 2;
    justify-self: center;
  }
}
@media (min-width: 426px) and (max-width: 725px) {
  /* Main */
  .grid {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    gap: 1.25rem;
    height: auto;
  }
  .grid .ache2 {
    padding-top: 1.25rem;
    padding-left: 0;
    text-align: center;
  }
  .grid .parrafito2 {
    padding-left: 0rem;
    padding-top: 20px;
  }
  .grid .imguno {
    padding-left: 0;
    order: 3;
  }
  .grid .imgdos {
    padding-left: 0rem;
    align-self: center;
    order: 1;
  }
  .grid .imgtres {
    padding-bottom: 0rem;
    padding-left: 0rem;
    order: 2;
    align-self: center;
  }
}
/* Pantallas de 425 px */
/* Page FreeStyle */
@media (max-width: 425px) {
  /* Main */
  .grid {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    gap: 1.25rem;
    height: auto;
  }
  .grid .ache2 {
    padding-top: 1.25rem;
    padding-left: 0;
    text-align: center;
  }
  .grid .parrafito {
    padding-left: 0rem;
    padding-top: 20px;
  }
  .grid .imguno {
    padding-left: 0;
    order: 3;
  }
  .grid .imgdos {
    padding-left: 0rem;
    align-self: center;
    order: 1;
  }
  .grid .imgtres {
    padding-bottom: 0rem;
    padding-left: 0rem;
    order: 2;
    align-self: center;
  }
}
/* Pantallas de 320 px */
/* Page FreeStyle */
@media (max-width: 374px) {
  /* Header */
  h1 {
    margin-top: 80px;
    font-size: x-large;
  }
  /* Footer */
  .pieDepagina {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .pieDepagina div {
    width: 100%;
    padding: 0.625rem;
  }
  .pieDepagina div p {
    font-size: small;
  }
}
@media (min-width: 1025px) and (max-width: 1439px) {
  .grid .imguno2 {
    padding-left: 1.25rem;
    order: 3;
  }
  .grid .imgdos2 {
    padding-left: 15.625rem;
    order: 1;
  }
  .grid .imgtres2 {
    padding-left: 15.625rem;
    order: 2;
  }
}
@media (max-width: 1024px) {
  /* Main */
  .grid .ache2 {
    justify-self: left;
  }
  .grid .parrafito2 {
    justify-self: left;
  }
  .grid .imguno2 {
    padding-left: 0;
    order: 3;
  }
  .grid .imgdos2 {
    padding-left: 15.625rem;
    order: 1;
  }
  .grid .imgtres2 {
    padding-left: 15.625rem;
    order: 2;
  }
}
/* Pantallas de 962px a 1000px */
/* Page PowerFree */
@media (min-width: 962px) and (max-width: 1000px) {
  /* main */
  .grid .ache2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .grid .imguno2 {
    padding-left: 1.25rem;
    order: 3;
  }
  .grid .imgdos2 {
    padding-left: 6.25rem;
    order: 1;
  }
  .grid .imgtres2 {
    padding-left: 6.25rem;
    order: 2;
  }
}
/* Pantallas de 831px a 961px */
/* Page PowerFree */
@media (min-width: 831px) and (max-width: 961px) {
  /* main */
  .grid .ache2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .grid .parrafito2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    padding-top: 0rem;
    justify-self: center;
  }
  .grid .imguno2 {
    padding-left: 1.25rem;
    order: 3;
  }
  .grid .imgdos2 {
    padding-left: 6.25rem;
    order: 2;
  }
  .grid .imgtres2 {
    padding-left: 6.25rem;
    order: 2;
  }
}
/* Pantallas de 720px a 830px */
/* Page PowerFree */
@media (min-width: 726px) and (max-width: 830px) {
  /* main */
  .grid .ache2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-top: 9.375rem;
    justify-self: right;
    font-size: larger;
  }
  .grid .imguno2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-left: 1.875rem;
    order: 3;
    padding-bottom: 2.5rem;
  }
  .grid .imgdos2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 0rem;
    order: 1;
    justify-self: center;
  }
  .grid .imgtres2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 0;
    padding-left: 1.875rem;
    order: 2;
    padding-top: 1.25rem;
  }
}
/* main */
@media (max-width: 725px) {
  .grid .ache2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-top: 9.375rem;
    justify-self: center;
    font-size: larger;
  }
  .grid .parrafito2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    justify-self: center;
  }
  .grid .imguno2 {
    padding-left: 0;
    order: 3;
  }
  .grid .imgdos2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-left: 17.5rem;
    padding-left: 4.375rem;
    order: 1;
  }
  .grid .imgtres2 {
    padding-left: 6.25rem;
    order: 2;
  }
}
@media (min-width: 426px) and (max-width: 725px) {
  /* Main */
  .grid {
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    justify-content: none;
    align-items: center;
    gap: 1.25rem;
    height: auto;
  }
  .grid .ache2 {
    padding-top: 1.25rem;
    padding-left: 0;
    text-align: center;
  }
  .grid .parrafito2 {
    padding-left: 0rem;
    padding-top: 20px;
  }
  .grid .imguno2 {
    padding-left: 0;
    order: 3;
  }
  .grid .imgdos2 {
    padding-left: 0rem;
    align-self: center;
    order: 1;
  }
  .grid .imgtres2 {
    padding-bottom: 0rem;
    padding-left: 0rem;
    order: 2;
    align-self: center;
  }
}
/* Pantallas de 425 px */
/* Page PowerFree */
@media (max-width: 425px) {
  /* Main */
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    height: auto;
  }
  .grid .ache2 {
    padding-top: 1.25rem;
    padding-left: 0;
    text-align: center;
  }
  .grid .parrafito2 {
    padding-left: 0rem;
    padding-top: 20px;
  }
  .grid .imguno2 {
    padding-left: 0;
    order: 3;
  }
  .grid .imgdos2 {
    padding-left: 0rem;
    align-self: center;
    order: 1;
  }
  .grid .imgtres2 {
    padding-bottom: 0rem;
    padding-left: 0rem;
    order: 2;
    align-self: center;
  }
}
/* Pantallas de 320 px */
/* Page PowerFree */
@media (max-width: 374px) {
  /* Header */
  h1 {
    margin-top: 80px;
    font-size: x-large;
  }
  /* Footer */
  .pieDepagina {
    display: flex;
    flex-direction: none;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: none;
    gap: none;
  }
  .pieDepagina div {
    width: 100%;
    padding: 0.625rem;
  }
  .pieDepagina div p {
    font-size: small;
  }
}
@media (min-width: 769px) and (max-width: 950px) {
  .galeria {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .galeria p {
    width: 42.5rem;
  }
  .galeria h3 {
    color: white;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .galeria div {
    width: 43.75rem;
  }
  .galeria div img {
    padding-top: 10px;
    height: 12.5rem;
    width: 18.75rem;
    object-fit: cover;
  }
}
@media (min-width: 625px) and (max-width: 768px) {
  .galeria {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .galeria p {
    width: 37.5rem;
  }
  .galeria h3 {
    color: white;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .galeria div {
    width: 39.0625rem;
  }
  .galeria div img {
    padding-top: 10px;
    height: 12.5rem;
    width: 18.75rem;
    object-fit: cover;
  }
}
@media (min-width: 525px) and (max-width: 624px) {
  .galeria p {
    width: 25rem;
  }
  div {
    width: 21.875rem;
  }
}
@media (min-width: 420px) and (max-width: 525px) {
  .galeria {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .galeria p {
    width: 25rem;
  }
  .galeria h3 {
    color: white;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .galeria div {
    width: auto;
  }
  .galeria div img {
    padding-top: 10px;
    height: 12.5rem;
    width: 18.75rem;
    object-fit: cover;
  }
}
@media (min-width: 320px) and (max-width: 419px) {
  .galeria {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .galeria p {
    width: 15.625rem;
  }
  .galeria h3 {
    color: white;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .galeria div {
    width: auto;
  }
  .galeria div img {
    padding-top: 10px;
    height: 12.5rem;
    width: 18.75rem;
    object-fit: cover;
  }
}
@media (min-width: 320px) and (max-width: 380px) {
  .formulario1 {
    padding: 1.25rem 1.25rem;
    width: auto;
  }
  .formulario1 form {
    padding: 0.875rem 0.875rem;
    width: 18.75rem;
  }
}

/*# sourceMappingURL=style.css.map */
