 /* Pantallas de 831px a 961px */
    /* Page PowerFree */

    @media (min-width:831px) and (max-width:961px) {

        /* main */

        .grid .ache2 {
            @include gridArea (2,3,1,1);



    }
    .grid .parrafito2 {
        @include gridArea (1,3,2,4);
        padding-top: 0rem;

        justify-self: center;
    }
        

        .grid .imguno2 {
    
            padding-left: 1.25rem;
            order: 3;
        
        }
        
        .grid .imgdos2 {
    
            padding-left: 6.25rem;
            order: 2;
        }
        
        .grid .imgtres2 {
        
    
            padding-left: 6.25rem;
            order: 2;
        }
        
    }