 /* Pantallas de 830px a 960px */
    /* Page PowerFree */
    @media (min-width:830px) and (max-width:960px) {

        /* main */

        .grid .ache2 {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 1;
            padding-top: 9.375rem;
            justify-self: center;
            font-size:larger;
        }
        .grid .parrafito {
            grid-column-start: 1;
            grid-column-end: 3;
            justify-self: center;
        }

        .grid .imguno {
    
            padding-left: 0rem;
            order: 3;
        
        }
        
        .grid .imgdos {
            padding-bottom: 5.625rem;
            padding-left: 8.75rem;
            grid-column-start: 3;
            grid-column-end: 5;
            order: 1;
        }
        
        .grid .imgtres {
        
            padding-left: 10.625rem;
            order: 2;
        }
        
    }