/* Pantallas de 768 px */

/* Page FreeStyle */

@media (max-width:768px) {

    /* main */

    .grid .ache2 {
        @include gridArea (2,3,1,1);


    
    }
    .grid{
        @include grid (9.375rem 1fr 1fr 1fr,repeat(3,1fr));
        width: 100%;
        height: auto;
        
    }

    .grid .imguno {
        @include gridArea (3,5,2,3);

        padding-left: 0;
        order: 3;
        justify-self: center;
    }
    
    .grid .imgdos {
        @include gridArea (1,3,3,4);
        padding-left: 0rem;

        padding-left: 0rem;
        order: 1;
        justify-self: center;
    }
    
    .grid .imgtres {
        @include gridArea (3,5,3,4);

        padding-left: 0rem;
        padding-bottom: 0rem ;
        order: 2;
        justify-self: center;
}
}