/* Page FreeStyle */

/* Pantallas de 1024px a 1300px */

@media (min-width:1025px) and (max-width:1300px) {

    .grid .imguno {

        padding-left: 1.25rem;
        order: 3;
    
    }
    
    .grid .imgdos {

        padding-left: 15.625rem;
        order: 1;
    }
    
    .grid .imgtres {
    

        padding-left: 15.625rem;
        order: 2;
    }
    
}