/* Pantallas de 320 px */

/* Page PowerFree */


@media (max-width:374px) {

    /* Header */
    
    h1 {
    
    
        margin-top: 80px;
        font-size: x-large;
        }
    
            /* Footer */
    
        .pieDepagina{
            @include flex (none, nowrap,center,none,none);

            }
            .pieDepagina div {
                width: 100%;
                padding: .625rem;
            }
    
            .pieDepagina div p {
    
                font-size: small;
            }
    
    }