/* Pantallas de 425 px */

/* Page FreeStyle */


@media (max-width:425px) {

    /* Header */
    
    .NavFirst ul {
        @include flex (column, none,none,none,.625rem);
    
        padding-right: 0px;
        font-size: .9375rem;

    
    }
    .NavFirst ul li {
        text-align: center;
    }
    
    
        /* Main */
    
    
        .grid {
            @include flex (column, none ,none,center,1.25rem);
            height: auto;
        }
        .grid .ache2 {
            padding-top: 1.25rem;
            padding-left: 0;
            text-align: center;
        }
        .grid .parrafito {
        padding-left: 0rem;
        padding-top: 20px;
        
    
        }
        .grid .imguno {
    
            padding-left: 0;
            order: 3;
        
        }
        
        .grid .imgdos {
    
            padding-left: 0rem;
            align-self:center ;
            order: 1;
        }
        
        .grid .imgtres {
            padding-bottom: 0rem;
            padding-left: 0rem;
            order: 2;
            align-self:center ;
    }
    } 