@media (max-width:1024px) {




    /* Main */

    .grid .ache2 {

        justify-self: left;
    
    }
    .grid .parrafito2 {
    
        justify-self: left;
    }
    .grid .imguno2 {

        padding-left: 0;
        order: 3;
    
    }
    
    .grid .imgdos2 {

        padding-left: 15.625rem;
        order: 1;
    }
    
    .grid .imgtres2 {
    

        padding-left: 15.625rem;
        order: 2;
    }

}