 /* main */
@media (max-width:725px) {
.grid .ache2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-top: 9.375rem;
    justify-self: center;
    font-size:larger;
}
.grid .parrafito2 {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}
.grid .imguno2 {

    padding-left: 0;
    order: 3;

}

.grid .imgdos2 {

    padding-left: 17.5rem;
    grid-column-start: 3;
    grid-column-end: 5;
    padding-left: 4.375rem;
    order: 1;
}

.grid .imgtres2 {

    padding-left: 6.25rem;
    order: 2;
}
}