@media (min-width:420px) and (max-width:525px) {
    .galeria {
        @include flex (column,wrap,center,center,3.125rem);

        padding-top: 20px;
        padding-bottom: 30px;
        
    
        p {
    
            width: 25rem ;
        }
        h3 {
            color: white;
            padding-bottom: 10px;
            padding-top: 20px;
        }
    
        div { width: auto;
            
        img {
            padding-top: 10px;
            height: 12.5rem;
            width: 18.75rem;
            object-fit: cover;
            }
            }
    }

 }

