 /* Pantallas de 830px a 960px */
    /* Page PowerFree */
    @media (min-width:830px) and (max-width:960px) {

        /* main */

        .grid .ache2 {
            @include gridArea (1,3,1,1);

            padding-top: 9.375rem;
            justify-self: center;
            font-size:larger;
        }
        .grid .parrafito {
            @include gridArea (1,3,2,3);

            justify-self: center;
        }

        .grid .imguno {
    
            padding-left: 0rem;
            order: 3;
        
        }
        
        .grid .imgdos {
            @include gridArea (3,5,1,3);
            padding-bottom: 5.625rem;
            padding-left: 8.75rem;

            order: 1;
        }
        
        .grid .imgtres {
        
            padding-left: 10.625rem;
            order: 2;
        }
        
    }