        /* Variables */

        $color-main: #750904;
        $color-foter: #D9D9D9;
        $fuente-h1: "Anton SC", sans-serif;
        $fuente-p: "Kanit", sans-serif;
        $color-p-foter:black;
        $color-p-main: white;
        $color-degradado: to right,#f0716a, #750904;
        
