
.grid {
    @include grid (9.375rem 1fr 1 fr 1 fr, repeat (4,1fr));

    width: 100%;
    height: 37.5rem;


    p {
        height: 100%;
        width: 100%;
    }

    img {

        object-fit: contain;
    }

    .ache2 {
        @include gridArea (2,3,1,1);

        padding-top: 9.375rem;
        justify-self: right;
        font-size:larger;
    } 
}

.parrafito2 {
    @include gridArea (2,3,1,3);

    padding-top: 12.5rem;
    width: 200px;
    justify-self: right;
}
.imguno2 {
    @include gridArea (3,5,2,4);

    align-self: center;
    padding-left: 6.25rem;
    
}

.imgdos2 {
    @include gridArea (3,5,1,3);

    align-self: center;
    padding-left: 23.75rem;
}
.imgtres2 {
    @include gridArea (3,5,3,5);

    align-self: end;
    padding-left: 23.75rem;
    padding-bottom: 2.5rem;
}