body {
    background-color: $color-main;
}

.vistaPrevia {
    @include flex (none, wrap,space-evenly,none,none);

    height: 12.5rem;

    div {
        margin: .625rem;
        height: 100%;
    }

}

.biografia{
    @include flex (none, wrap,space-evenly,none,none);



div  {

    @include flex (none, none,center,center,none);
    width: 18.75rem;
    height: 300px; ;
    margin: .3125rem;


        p {
            font-size: small;
                }
    }
}