.introduccion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 5rem;
    align-items: center;
    justify-content: center;
    background-color:black ;

    p {

        padding-top: 10px;
        width: 43.75rem;
        height: 5rem;
        text-indent: .625rem
        
    }
}

.galeria {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 30px;

    p {

        width: 900px;
    }
    h3 {
        color: white;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    div {
    
    img {
        padding-top: 10px;
        height: 12.5rem;
        width: 18.75rem;
        object-fit: cover;
        }
        }
}