.Formulario1 {
    display: flex;
    justify-content: center;
    padding: 1.25rem;
}
.formula {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: .625rem;

}

.texto {

    width: 25rem;
    height: 25rem;
}

.cuadroForm {

    width: 37.5rem;
    height: 37.5rem ;
    background-color: #E57A7A;
    border-color: #E57A7A;
    
}