body {
    background-color: $color-main;
    height: auto;
}

.vistaPrevia {
    @include flex (none, wrap,space-evenly,none,none);

    height: auto;

    div {
        @include flex (none, wrap,center,none,none);
        margin: .625rem;
        height: 100%;
        
    }

}

.biografia{
    @include flex (none, wrap,center,none,none);



div  {

    @include flex (none, none,center,center,none);
    width: 18.75rem;
    height: 300px; ;
    margin: .3125rem;


        p {
            font-size: small;
                }
    }
}